@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: idroid;
    src: url(fonts/idroid.otf) format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    background-color: #ebe5c5;
    header {
        background-image: linear-gradient(to bottom, #2fa866, #063d1e);
        color: white;
        height: 250px;
        display: flex;
        flex-direction: column;
        h1 {
            margin: auto;
            font-family: 'bebas neue', Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 3em;
            font-weight: normal;
            padding: 35px 5px 0px 5px;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.300);
        }
        p {
            font-size: 1.2em;
            text-align: center;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.300);
            padding: 0px 50px 20px 50px;
        }
        nav {
            margin: auto 0px auto 10px;
        }
        a {
            color: #83e1ad;
            text-align: left;
            text-decoration: none;
            font-weight: bold;
            padding: 7px;
            &:hover {
                text-decoration: solid;
                color: #063d1e;
                background-color: #2fa866;
                border-radius: 5px;
            }
        }
    }
    main {
        background-color: white;
        max-width: 1000px;
        margin: auto;
        padding: 1em;
        h1 {
            font: normal normal 2em 'idroid', Arial, Helvetica, sans-serif;
            color: #063d1e;
            margin: 0;
        }
        h2 {
            font: normal normal 1.3em 'idroid', Arial, Helvetica, sans-serif;
            color: #1a5c37;
            background-image: linear-gradient(to right, #83e1ad, transparent);
        }
        p {
            text-align: justify;
            text-indent: 30px;
            line-height: 2em;
        }
        strong {
            color: #1a5c37;
        }
        source,img {
            display: block;
            margin: auto;
            width: 100%;
        }
        img.bugdroid {
            max-width: 300px;
            max-height: 195px;
        }
        div#video {
            background-color: #063d1e;
            margin-left: -1em;
            margin-right: -1em;
            height: 450px;
            iframe {
                display: block;
                margin: auto;
                
            }
        }
        a {
            color: #063d1e;
            background-color: #83e1ad;
            font-weight: bold;
            text-decoration: none;
            &::after {
                content: '\1F517';
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    footer {
        background-color: #063d1e;
        color: white;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #83e1ad;
            }
        }
    }
}