@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: idroid;
    src: url(fonts/idroid.otf) format('opentype');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    background-color: #ebe5c5;
    header {
        background-image: linear-gradient(to bottom, #2fa866, #063d1e);
        color: white;
        h1 {
            margin: auto;
            text-align: center;
            font-family: 'bebas neue', Arial, Helvetica, sans-serif;
        }
        p {
            text-align: center;
        }
        a {
            color: #83e1ad;
            text-align: left;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    main {
        background-color: white;
        h1 {
            font-family: 'idroid', Arial, Helvetica, sans-serif;
            color: #063d1e;
            margin: 0;
        }
        h2 {
            font-family: 'idroid', Arial, Helvetica, sans-serif;
            color: #1a5c37;
        }
        p {
            text-align: justify;
            text-indent: 30px;
        }
        source,img {
            display: block;
            margin: auto;
            width: 100%;
        }
        div#video {
            background-color: #063d1e;
            iframe {
                display: block;
                margin: auto;
                width: 100%;
            }
        }
    }
    footer {
        background-color: #063d1e;
        color: white;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #83e1ad;
            }
        }
    }
}