body {
    background: black;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.295);
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);/*5px (lateral) 5px (vertical) 10px (espalhamento)*/
}

div {
    text-align: center;
    padding: 10px;
}

footer {
    color: rgba(255, 255, 255, 0.445);
    text-align: center;
    font-style: italic;
}